<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            
            <!-- DataSet Selector -->
            <li  ng-class="{active: collapseVar==10}">{{dropDown}}
            <a href="" ng-click="check(10)"><i class="fa fa-table fa-fw"></i> {{activeDataset.name}} <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=10">
                    <li ui-sref-active="active" ng-repeat="dset in datasets" >
                    <a 
                      ng-click="onDsetClick($index)" 
                      ui-sref="dashboard.job({datasetId: dset.id, modelId: dset.models[0].id, paramsId: '0', activetab: activetab})"
                     
                      >{{dset.name}}</a>
                    </li>
                </ul>
            </li>

            <!-- Models -->
          <li ng-repeat="model in activeDataset.models" ng-class="{active: collapseVar==($index+11)}">{{dropDown}}
            <a href="" ng-click="check(model.id)">
              
              <i class="fa fa-sitemap fa-fw"></i> {{model.name}} 
              <span     class="fa arrow"></span>
            
            </a>

                <ul class="nav nav-second-level" collapse="collapseVar!=(model.id)">
                    <li 
                    ng-class="{'active': pid==paramsId}"
                    ui-sref-active="active" ng-repeat="(pid, ppx) in model.params_px" >
                    <div>
                      <a 
                      ng-click="" 
                      ui-sref="dashboard.job({datasetId: activeDataset.id, modelId: model.id, paramsId: pid, activetab: activetab})"
                      >
                      
                      Params_{{pid}} ({{ppx[pid]}})</a>
                      <a ng-click="onParamDelete(model.id, pid)" class="" style="">-</a>
                    </div>
                    </li>
                </ul>
            </li>


            <!-- ActiveJobs -->
            <li ng-class="{active: collapseVar==(21)}">{{dropDown}}
                        <a href="" ng-click="getRunJobs(21)">
                          
                          <i class="fa fa-sitemap fa-fw"></i>Running Jobs
                          <span     class="fa arrow"></span>
                        
                        </a>

                            <ul class="nav nav-second-level" collapse="collapseVar!=(21)">
                                <li 
                                ui-sref-active="active" ng-repeat="job in activeJobs" >
                                  <a 
                                  ng-click="" 
                                  ui-sref="dashboard.job({datasetId: job.dataset_id, modelId: job.mid, paramsId: job.pid, activetab: 3})"
                                  >
                                  
                                  Params_{{job.mid}}_{{job.pid}}</a>
                                </li>
                            </ul>
                        </li>

            <!-- <br> -->
            <!-- <br> -->
            <!-- <br> -->
            <!--  -->
            <!-- <li ui&#45;sref&#45;active="active"> -->
            <!--     <a ui&#45;sref="dashboard.home"><i class="fa fa&#45;dashboard fa&#45;fw"></i> Dashboard</a> -->
            <!-- </li> -->
            <!-- <li ui&#45;sref&#45;active="active"> -->
            <!--  -->
            <!--     <a ui&#45;sref="dashboard.chart"><i class="fa fa&#45;bar&#45;chart&#45;o fa&#45;fw"></i> Charts<span></span></a> -->
            <!--  -->
            <!-- </li> -->
            <!-- <li ui&#45;sref&#45;active="active"> -->
            <!--     <a ui&#45;sref="dashboard.table"><i class="fa fa&#45;table fa&#45;fw"></i> Tables</a> -->
            <!-- </li> -->
            <!-- <li ui&#45;sref&#45;active="active"> -->
            <!--     <a ui&#45;sref="dashboard.form"><i class="fa fa&#45;edit fa&#45;fw"></i> Forms</a> -->
            <!-- </li> -->
            <!-- <li ng&#45;class="{active: collapseVar==1}">{{dropDown}} -->
            <!--     <a href="" ng&#45;click="check(1)"><i class="fa fa&#45;wrench fa&#45;fw"></i> UI Elements<span -->
            <!--             class="fa arrow"></span></a> -->
            <!--     <ul class="nav nav&#45;second&#45;level" collapse="collapseVar!=1"> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.panels&#45;wells">Panels and Wells</a> -->
            <!--         </li> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.buttons">Buttons</a> -->
            <!--         </li> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.notifications">Notifications</a> -->
            <!--         </li> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.typography">Typography</a> -->
            <!--         </li> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.icons"> Icons</a> -->
            <!--         </li> -->
            <!--         <li ui&#45;sref&#45;active="active"> -->
            <!--             <a ui&#45;sref="dashboard.grid">Grid</a> -->
            <!--         </li> -->
            <!--     </ul> -->
            <!--     <!&#45;&#45; /.nav&#45;second&#45;level &#45;&#45;> -->
            <!-- </li> -->
            <!-- <li ng&#45;class="{active: collapseVar==2}"> -->
            <!--     <a href="" ng&#45;click="check(2)"><i class="fa fa&#45;sitemap fa&#45;fw"></i> Multi&#45;Level Dropdown<span -->
            <!--             class="fa arrow"></span></a> -->
            <!--     <ul class="nav nav&#45;second&#45;level" collapse="collapseVar!=2"> -->
            <!--         <li> -->
            <!--             <a href="">Second Level Item</a> -->
            <!--         </li> -->
            <!--         <li> -->
            <!--             <a href="">Second Level Item</a> -->
            <!--         </li> -->
            <!--         <li ng&#45;init="third=!third" ng&#45;class="{active: multiCollapseVar==3}"> -->
            <!--             <a href="" ng&#45;click="multiCheck(3)">Third Level <span class="fa arrow"></span></a> -->
            <!--             <ul class="nav nav&#45;third&#45;level" collapse="multiCollapseVar!=3"> -->
            <!--                 <li> -->
            <!--                     <a href="">Third Level Item</a> -->
            <!--                 </li> -->
            <!--                 <li> -->
            <!--                     <a href="">Third Level Item</a> -->
            <!--                 </li> -->
            <!--                 <li> -->
            <!--                     <a href="">Third Level Item</a> -->
            <!--                 </li> -->
            <!--                 <li> -->
            <!--                     <a href="">Third Level Item</a> -->
            <!--                 </li> -->
            <!--  -->
            <!--             </ul> -->
            <!--             <!&#45;&#45; /.nav&#45;third&#45;level &#45;&#45;> -->
            <!--         </li> -->
            <!--     </ul> -->
            <!--     <!&#45;&#45; /.nav&#45;second&#45;level &#45;&#45;> -->
            <!-- </li> -->
            <!-- <li ng&#45;class="{active:collapseVar==4}"> -->
            <!--     <a href="" ng&#45;click="check(4)"><i class="fa fa&#45;files&#45;o fa&#45;fw"></i> Sample Pages<span -->
            <!--             class="fa arrow"></span></a> -->
            <!--     <ul class="nav nav&#45;second&#45;level" collapse="collapseVar!=4"> -->
            <!--         <li ng&#45;class="{active: selectedMenu=='blank'}"> -->
            <!--             <a ui&#45;sref="dashboard.blank" ng&#45;click="selectedMenu='blank'">Blank Page</a> -->
            <!--         </li> -->
            <!--         <li> -->
            <!--             <a ui&#45;sref="login">Login Page</a> -->
            <!--         </li> -->
            <!--     </ul> -->
            <!--     <!&#45;&#45; /.nav&#45;second&#45;level &#45;&#45;> -->
            <!-- </li> -->
            <!-- <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li> -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



