<div>

<div class="row">
  <br>

  <div class="col-md-4">
    <div class="form-group">
      <select 
        class="form-control" 
        ng-model="jobInfo.embedding_id"  
        ng-options="mapr.id as (mapr.id + ': ' + mapr.name) for mapr in embeddings"
        >
      </select>
    </div>        
  </div>

  <div class="col-md-4">
    <button type="button" 
            class="btn btn-success" 
            ng-model="paramInfo.learn_embedding" 
            btn-checkbox 
            btn-checkbox-true="1" 
            btn-checkbox-false="0"
     >
            Learn Embeddings
    </button>
  </div>


  <div class="col-md-4">
  </div>


</div>


</div>
