<div>

<div class="row">
  <br>

  <div class="col-md-4">
    <div class="form-group">
      <select 
        class="form-control" 
        ng-model="jobInfo.mapper_id"  
        ng-options="mapr.id as (mapr.id + ': ' + mapr.name) for mapr in mappers"
        >
      </select>
    </div>    

    <button class="btn btn-primary" ng-click="onGetStats()">Get Stats</button>
    <br>
    <br>
    <h4> Stats </h4>    

    <div class="table-responsive">
        <table class="table table-striped">
        <tbody>
        <tr
          ng-repeat="(pLabel, pValue) in mapperStats"
          >
          <td>{{pLabel}}</td>
          <td>{{pValue}}</td>
        </tr>
        </tbody>
      </table>
      </div>
      <br>

  </div>

  <div class="col-md-4">
  </div>


  <div class="col-md-4">
     
  </div>


</div>


</div>
